@page "/fetchdata"

@using VmMachineHwVersionUpdater.BlazorApp.Data
@using VmMachineHwVersionUpdater.Core.Models
@inject VmMachineHwVersionUpdaterService VmMachineHwVersionUpdaterService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Play</th>
                <th>Path</th>
                <th>Directory Size (GB)</th>
                <th>Guest OS</th>
                <th>Sync Time</th>
                <th>Auto Update Tools</th>
                <th>Last Log Entry</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in _machines)
            {
            <tr>
                <td>@machine.DisplayName</td>
                <td>@machine.MachineState</td>
                <td>@machine.Path</td>
                <td>@machine.DirectorySizeGb</td>
                <td>@machine.GuestOs</td>
                <td>@machine.SyncTimeWithHost</td>
                <td>@machine.AutoUpdateTools</td>
                <td>@machine.LogLastDate</td>
                <td>@machine.HwVersion</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Machine> _machines;


    protected override async Task OnInitializedAsync()
    {
        _machines = await VmMachineHwVersionUpdaterService.GetMachinesAsync();
    }


}

